VITE_APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=your-project-id
VITE_APPWRITE_DATABASE_ID=your-database-id
VITE_APPWRITE_BUCKET_ID=your-bucket-id
VITE_APPWRITE_QUEUE_FUNCTION_ID=queue-product-job
VITE_ALLOWED_HOSTS=your-allowed-hosts

APPWRITE_API_KEY=your-server-api-key

# Trigger.dev Configuration
TRIGGER_PROJECT_ID=your-trigger-project-id
TRIGGER_SECRET_KEY=tr_dev_xxx